@keyframes arrow-animation {
  from {
      left: -17px;
  }

  to {
      left: -21px;
  }
}

@keyframes heart-scale {
  from {
      scale: 1;
  }

  to {
      scale: 1.5;
  }
}

@keyframes sparks {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}
