@keyframes arrowAnimation {
  from {
      left: -17px;
  }

  to {
      left: -21px;
  }
}

@keyframes scaleHeart {
  50% {
      transform: scale(1.5);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes sparkAnimation {
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
