:root.theme-light {
  --bg-color: #fff;
  --accent-color: #000;
  --brand-gradient-color: #d3d3d3;
  --accent-gradient-color: #e7e7e7;
  --secondary-gradient-color: #1a1a1a;
  --contour-color: #000;
  --sparks-color: #f00;
  --button-text: #fff;
  --backdrop-color: #000;
}

:root.theme-dark {
  --bg-color: #000;
  --accent-color: #00cc14;
  --brand-gradient-color: #000;
  --accent-gradient-color: #007f0c;
  --secondary-gradient-color: #004306;
  --contour-color: var(--accent-color);
  --button-text: #00cc14;
  --backdrop-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
      --bg-color: #000;
      --accent-color: #00cc14;
      --brand-gradient-color: #000;
      --accent-gradient-color: #007f0c;
      --secondary-gradient-color: #004306;
      --contour-color: var(--accent-color);
      --button-text: #00cc14;
      --backdrop-color: #000;
  }
}
