:root.theme-light {
    --background-color: #ffffff;
    --font-color: #000000;
    --vertical-stripes: repeating-linear-gradient(90deg, #d3d3d3 0%, #d3d3d3 2px, transparent 2px, transparent 4px);
    --horizontal-stripes: repeating-linear-gradient(0deg, #d3d3d3 0%, #d3d3d3 2px, transparent 2px, transparent 4px);
    --background-base-gradient: linear-gradient(0deg, #1a1a1a 0%, #e7e7e7 100%);
    --label-shadow-color: rgba(255, 255, 255, 0.5);
    --blend-mode-text-color: #ffffff;
    --pseudo-element-color: #000000;
    --contour-color: #000000;
    --fill-color: #ff0000;
    --font-weight-card: 400;
    --font-weight-card-header: 700;
    --accent: #fff;
}

:root.theme-dark {
    --font-weight-card: 465;
    --font-weight-card-header: 785;
    --background-color: #000000;
    --font-color: #00cc14;
    --vertical-stripes: repeating-linear-gradient(90deg, #000 0%, #000 2px, transparent 2px, transparent 4px);
    --horizontal-stripes: repeating-linear-gradient(0deg, #000 0%, #000 2px, transparent 2px, transparent 4px);
    --background-base-gradient: linear-gradient(0deg, #004306 0%, #007f0c 100%);
    --label-shadow-color: rgba(0, 0, 0, 0.5);
    --blend-mode-text-color: #00cc14;
    --pseudo-element-color: #00cc14;
    --contour-color: #00cc14;
    --fill-color: #ff0000;
    --accent-color: #00cc14;
    --fill: #00cc14;
    --accent: #00cc14;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000000;
        --font-color: #00cc14;
        --vertical-stripes: repeating-linear-gradient(90deg, #000 0%, #000 2px, transparent 2px, transparent 4px);
        --horizontal-stripes: repeating-linear-gradient(0deg, #000 0%, #000 2px, transparent 2px, transparent 4px);
        --background-base-gradient: linear-gradient(0deg, #004306 0%, #007f0c 100%);
        --label-shadow-color: rgba(0, 0, 0, 0.5);
        --blend-mode-text-color: #00cc14;
        --pseudo-element-color: #00cc14;
        --contour-color: #00cc14;
        --fill-color: #ff0000;
        --font-weight-card: 465;
        --font-weight-card-header: 785;
        
    }
}

fill: var(--accent, #00cc14);
    stroke: var(--accent, #00cc14);
}